NODE_ENV=development
HOST=0.0.0.0
PORT=3333
LOG_LEVEL=info
APP_KEY=averylongsecretkeythatisexactly32
APP_NAME=adonis-ai-translate-example
APP_URL=http://localhost:3333

AI_TRANSLATE_MODEL=claude
AI_TRANSLATE_DEFAULT_LANGUAGE=en
AI_TRANSLATE_PATH=ai-translate

# ANTHROPIC_API_KEY=
# GEMINI_API_KEY=
